<% provide(:title, "Log in") %>
<h2>Log in</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true ,class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" , class: 'form-control' %>

  
    <%= f.label :remember_me do %>
    <%= f.check_box :remember_me, :style => "margin-left:-5%; width: 50px; height: 50px;"  %>
    <span>Remember me on this computer</span>
    <% end %>


    <%= f.submit "Log in", class: 'btn btn-primary' %>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>

  
  
