<% provide(:title, 'All customers') %>
<!-- <div class="row">
  <div class="col-md-5 col-md-offset-3">
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for customemr(s):") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
</div>
</div> -->
<%= will_paginate %>
<h2>All users</h2>
<ul class="users">
<%= render @users %>
<br>
<%= link_to "Create new user", create_user_path %>
</ul>
<%= will_paginate %>


