<% provide(:title, 'Hotel') %>
<h2>Add hotel</h2>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for(@hotel) do |f| %>
<%= render 'shared/error_messages', html: { multipart: true }, object: f.object %>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control', :required => true %>

<%= f.label :country  %>
<%= f.text_field :country, class: 'form-control' , :required => true %>

<%= f.label :city %>
<%= f.text_field :city, class: 'form-control' , :required => true %>

<%= f.label :street, "Street" %>
<%= f.text_field :street, class: 'form-control' , :required => true %>

<%= f.submit "Create hotel", class: "btn btn-primary" %>
<br><br>
<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' , :required => true %>
<% end %>
</div>
</div>

<script type="text/javascript">
$('#hotel_picture').bind('change', function() {
size_in_megabytes = this.files[0].size/1024/1024;
if (size_in_megabytes > 5) {
alert('Maximum file size is 5MB. Please choose a smaller file.');
}
});
</script>